{% extends "base.html" %}

{% block content %}

{% for image in data.items %}
 <div class="answer">
        <table>
            <tr>
                <th></th>
                <th></th>
            <tr>
                <td>{% autoescape on %}
                    {{image.data}}
                    {% endautoescape %}
                </td>
                <td>
                    <div class="answerBlock">
                         <div class="answerItem">
                                 <div class="subtitle">
                             RESEARCH REPORT</div>
                        </div>
                        <div class="answerItem">RESULT:
                            {{image.result}}
                        </div>
                        <div class="answerItem">STATUS:
                            {{image.status}}
                        </div>
                        <div class="answerItem">PROBABILITY:
                            {{image.probability}}
                        </div>
                        <div class="answerItem">CONCLUSION:
                            {{image.conclusion}}
                        </div>
                         <div class="answerItem">IDENTIFIER:
                            {{image.identifier}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

{%endfor%}
<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('main.history', page=data.prev_num) }}"
       class="btn btn-outline-dark
       {% if data.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if data.page == page_num %}
            <a href="{{ url_for('main.history', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('main.history', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.history', page=data.next_num) }}"
       class="btn btn-outline-dark
       {% if data.page == data.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ data.page }} of {{ data.pages }}
</p>

{% endblock %}