{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome to recognizer
</h1>
<h5 class="subtitle">
The best way to diagnose disease
</h5>
	<div id="staff" class="container">
		<div class="title">
		 <div class="boxA"><img src="/static/images/p1.jpeg" width="300" height="450" alt="" /><h6>Normal</h6></div>
		<div class="boxB"><img src="/static/images/bacteria.jpeg" width="300" height="450" alt="" /> <h6>Bacteria</h6></div>
		<div class="boxC"><img src="/static/images/person278_virus_572.jpeg" width="300" height="450" alt="" /><h6>Virus</h6></div>
	</div>
{% endblock %}


